.page {
  min-height: 100vh;
  background: #e6dada;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e6dada, #274046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e6dada, #274046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myavatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.homepage {
  min-height: 100vh;
  background: #e6dada;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e6dada, #274046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e6dada, #274046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}